<!doctype html>
<html>
<head>
    <meta http-equiv="refresh" content="60" >
    <title>Opensearch Alarms GUI</title>
    <link href="{{ url_for('static', path='/uikit.min.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', path='/uikit.min.js') }}""></script>
    <script src="{{ url_for('static', path='/uikit-icons.min.js') }}""></script>
</head>
<body>


<div class="uk-container  uk-container-small uk-margin-top">

{% if results %}
<h2 class="uk-heading-small uk-heading-divider">Active Alarms <span class="uk-text-large uk-text-muted">{{ time | datetime }}</span></h2>


<table class="uk-table">
  <thead>
    <tr>
      <th>Monitor</th>
      <th>Trigger</th>
      <th>Severity</th>
      <th>Last Update</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
{% for result in results if results %}
    <tr alt="{{ result.id }}">
      <td>{{ result.monitor_name }}</td>
      <td>{{ result.trigger_name }}</td>
      <td>{{ result.severity }}
      {% if result.severity <= 2 %}
        <span uk-icon="close" class="uk-text-danger"></span>
      {% elif result.severity == 3%}
        <span uk-icon="warning" class="uk-text-warning"></span>
      {% else %}
        <span uk-icon="info" class="uk-text-success"></span>
      {% endif %}
      </td>
      <td>{{ result.period_end | datetime }}</td>
      <td>{{ result.text }}</td>
    </tr>
{% endfor %}

  </tbody>
</table>
{% else %}
<h2 class="uk-heading-small uk-heading-divider">No Active Alarms <span class="uk-text-large uk-text-muted">{{ time | datetime }}</span></h2>

{% endif %}

</div>

<p/><br><p/>
<p/><br><p/>
<p/><br><p/>
<div class="uk-container  uk-container-small uk-text-small uk-table-justify">
<table class="uk-table uk-table-small uk-text-small">
<tr>
  <th class="uk-table-shrink">Method</th>
  <th>Path</th>
  <th>Description</th>
</tr>
<tr>
  <td><tt><span class="uk-text-success">GET</span></tt></td>
  <td><tt>/</tt></td>
  <td>this HTML Page</td>
</tr>
<tr>
  <td><tt><span class="uk-text-success">GET</span></tt></td>
  <td>
    <tt>/check_mk?monitor=&lt;monitor_name&gt;</tt><br>
    <tt>/check_mk?trigger=&lt;trigger_name&gt;</tt><br>
  </td>
  <td>output as CheckMK Check String</td>
</tr>
<tr>
  <td><tt><span class="uk-text-success">GET</span></tt></td>
  <td><tt>/alarms</tt></td>
  <td>all Alarms as json dump</td>
</tr>
<tr>
  <td><tt><span class="uk-text-success">GET</span></tt></td>
  <td><tt>/docs</tt></td>
  <td>Swagger API Documentation</td>
</tr>
<tr>
  <td><tt><span class="uk-text-warning">POST</span></tt></td>
  <td><tt>/notifications</tt></td>
  <td>Opensearch Notification Endpoint</td>
</tr>
</table>
</div>

<div uk-sticky="position: bottom" class="uk-center uk-text-center uk-text-meta">
{{ name }} {{ version }} based on <a href="https://getuikit.com/" target=_blank><span uk-icon="uikit"></a> and made with <span uk-icon="heart" class="uk-text-danger"></span>, <a href="https://code.visualstudio.com/" target=_blank>Visual Studio Code</a> & Redbull - &copy; 2022 <a href="https://www.matrix.ag/" target=_blank>matrix technology GmbH</a>
</div>


</body>
</html>


